extends layout

block content
  .container
    h1 Curse mc-mods APIv1 Documentation

    .well
      h2 <button type="button" class="btn btn-success btn-sm">GET</button> /api/v1/list
      p List and search all cached mc-mods.
      h3 Query parameter
      p If undefined is passed in, default will be used
      .table-responsive
        table.table.table-hover
          thead
            tr
              th Key
              th Accepted value
              th Description
              th Default
              th Reminder
          tbody
            tr
              td page
              td Number
              td Requesed page number
              td 1
              td
            tr
              td sort
              td 'fancyName', 'slug', 'id_', 'description', 'author', 'downloadCount', 'tags'
              td Sort result by this
              td 'downloadCount'
              td This key is case sensitive
            tr
              td limit
              td Number, 'all'
              td Limit result in each page
              td 10
              td
            tr
              td search
              td String
              td Search fancyName by this. If undefined, list all
              td undefined
              td
            tr
              td fuzzy
              td Anyting
              td if this have a value, search fancyNameSoundex instead of fancyName
              td undefined
              td
    
      h3 Result format (JSON)
      .table-responsive
        table.table.table-hover
          thead
            tr
              th Key
              th Type
              th Description
              th Sample Response
          tbody
            tr
              td id_
              td Number
              td Id in curse(forge)
              td 223628
            tr
              td slug
              td String
              td Slug of that mod in curse(forge)
              td thaumcraft
            tr
              td fancyName
              td String
              td Name displayed
              td Thaumcraft
            tr
              td fancyNameSoundex
              td String
              td Encoded soundex for fancyName
              td T526
            tr
              td fancyNameFlatten
              td String
              td fancyName, removed non-word letters and changed to lower case
              td thaumcraft
            tr
              td description
              td String
              td description from curse
              td Thaumaturgy is the capability of a magician to work miracles.....
            tr
              td author
              td String
              td Author of the mod
              td azanor
            tr
              td downloadCount
              td Number
              td Download count from curse
              td 1052980
            tr
              td tags
              td Array of String
              td Tags applied to this mod. String are actually links to the tag
              td ["mc-mods/magic","mc-mods/adventure-rpg","mc-mods/armor-weapons-tools","mc-mods/cosmetic","mc-mods/library-api"]


    .well
      h2 <button type="button" class="btn btn-success btn-sm">GET</button> /api/v1/info
      p Get informations. Currently, only lastUpdate is given
      h3 Result format (JSON)
      .table-responsive
        table.table.table-hover
          thead
            tr
              th Key
              th Type
              th Description
              th Sample Response
          tbody
            tr
              td lastUpdate
              td String(Date)
              td Last update date using ISO-8601. YYYY-MM-DDTHH:mm:ss.sssZ
              td 2015-07-21T06:13:03.060Z
    
    .well
      h2 <button type="button" class="btn btn-success btn-sm">GET</button> /api/v1/tags
      p Get tags from curseforge
      h3 Result format(JSON)
      .table-responsive
        table.table.table-hover
          thead
            tr
              th Key
              th Type
              th Description
          tbody
            tr
              td tags
              td Array of Objects
              td Tags listed in curseforge. While key is the link and value is human-readable name
