<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#303F9F">
  <meta name="msapplication-TileColor" content="#3372DF">

  <script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js" type="text/javascript"></script>
  <title>Curse project search</title>

  <link rel="import" href="/bower_components/iron-pages/iron-pages.html">
  <link rel="import" href="/bower_components/iron-icons/iron-icons.html">
  <link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

  <link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
  <link rel="import" href="/bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
  <link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
  <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="/bower_components/paper-drawer-panel/paper-drawer-panel.html">
  <link rel="import" href="/bower_components/paper-menu/paper-menu.html">
  <link rel="import" href="/bower_components/paper-material/paper-material.html">
  <link rel="import" href="/bower_components/paper-button/paper-button.html">
  <link rel="import" href="/bower_components/paper-item/paper-item.html">
  <link rel="import" href="/bower_components/paper-styles/paper-styles-classes.html">

  <link rel="import" href="/elements/app-theme.html">
  <link rel="import" href="/elements/routing.html">
  <link rel="import" href="/elements/menu-item/menu-item.html">
  <link rel="import" href="/elements/witty-comments/witty-comments.html">
  <link rel="import" href="/elements/api-ui/api-ui.html">
</head>


<body unresolved class="fullbleed layout vertical">

  <template is="dom-bind" id="app">

    <paper-drawer-panel id="paperDrawerPanel">
      <div drawer>

        <paper-toolbar id="drawerToolbar">
          <span class="paper-font-title">Menu</span>
        </paper-toolbar>

        <paper-menu class="list" attr-for-selected="name" selected="{{route}}">
          <menu-item name="home" icon="home" link="/"></menu-item>
          <menu-item name="docs" icon="book" link="/docs"></menu-item>
          <menu-item name="about" icon="search" link="/about"></menu-item>
        </paper-menu>
      </div>

      <paper-scroll-header-panel main condenses keep-condensed-header>

        <!-- Main Toolbar -->
        <paper-toolbar id="mainToolbar" class="tall">
          <paper-icon-button icon="menu" id="paperToggle" paper-drawer-toggle></paper-icon-button>
          <!-- Application name -->
          <div class="bottom app-name paper-header">Curse project search</div>

        </paper-toolbar>

        <iron-pages selected="{{route}}" attr-for-selected="data-route">

          <div data-route="home" content>
            <api-ui></api-ui>
          </div>

          <div data-route="docs" content>
            <h1>Curse mc-mods APIv1 Documentation</h1>
            <p>
              This REST API aims to provied an index for mc-mods on <a href="http://minecraft.curseforge.com/mc-mods" target="_blank">curseforge</a>.
              If you would like to find more informations about an entry, consider use <a href="http://widget.mcf.li/" target="_blank">Curse Download Widget API</a>.
             </p>
            <paper-material>

              <header>
                <paper-button raised noink class="head-button">HEAD</paper-button>
                /api/v1/mc-mods
              </header>


                <summary>
                  <p>Some basic informations about database. </p>
                </summary>

                <details>
                  <h3>Result header</h3>
                  <p>Other API can also include these headers without noticing</p>
                  <div class="table-responsive">
                    <table>
                      <thead>
                        <tr>
                          <th>Key</th>
                          <th>Description</th>
                          <th>Example</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Last-Modified</td>
                          <td>Last update time of the database</td>
                          <td>2015-07-26T00:00:02.185Z</td>
                        </tr>
                        <tr>
                          <td>X-length</td>
                          <td>Length of all mc-mods mods. Query parameter does NOT affect the result.</td>
                          <td>1131</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </details>
              </paper-material>

              <paper-material>

                <header>
                  <paper-button raised noink class="get-button">GET</paper-button>
                  /api/v1/mc-mods
                </header>

                <summary>
                  <p>List and search all cached mc-mods.</p>
                </summary>

                <details>
                  <h3>Query parameter</h3>
                  <p>If undefined is passed in, default will be used</p>
                  <p>Searching is done by <a href="https://github.com/krisk/Fuse" target="_blank">fuse.js</a> instead of mongodb. Therefore fuzzy search is always available</p>
                  <div class="table-responsive">
                    <table>
                      <thead>
                        <tr>
                          <th>Key</th>
                          <th>Accepted value</th>
                          <th>Description</th>
                          <th>Default</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>sort</td>
                          <td>'fancyname', 'id', 'author', 'downloadCount'*, 'score'**</td>
                          <td>Sort result by this</td>
                          <td>'downloadCount'</td>
                        </tr>
                        <tr>
                          <td>limit</td>
                          <td>Number larger than 0, 'all'</td>
                          <td>Limit result being returned.</td>
                          <td>10</td>
                        </tr>
                        <tr>
                          <td>search</td>
                          <td>String, length less than 32</td>
                          <td>Search fancyName by this. If undefined, list all</td>
                          <td>undefined</td>
                        </tr>
                        <tr>
                          <td>threshold</td>
                          <td>A number between 0.0 and 1.0</td>
                          <td>If search is defined, this will be sent to fuse.js as threshold</td>
                          <td>0.6</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <p>* downloadcount: This is sorted by decending order</p>
                  <p>** score: score means how similar the string is according to
                    <a href="https://en.wikipedia.org/wiki/Bitap_algorithm" target="_blank">Bitap algorithm</a>.
                    This is done by the <a href="https://github.com/krisk/Fuse" target="_blank">fuse.js</a> library.
                    If search is none, this will return random result as this sorting is not done in database.
                   </p>
                  <h3>Result format (JSON)</h3>
                  <div class="table-responsive">
                    <table>
                      <thead>
                        <tr>
                          <th>Key</th>
                          <th>Type</th>
                          <th>Description</th>
                          <th>Sample Response</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>id_</td>
                          <td>Number</td>
                          <td>Id in curse(forge)</td>
                          <td>223628</td>
                        </tr>
                        <tr>
                          <td>slug</td>
                          <td>String</td>
                          <td>Slug of that mod in curse(forge)</td>
                          <td>thaumcraft</td>
                        </tr>
                        <tr>
                          <td>fancyName</td>
                          <td>String</td>
                          <td>Name displayed</td>
                          <td>Thaumcraft</td>
                        </tr>
                        <tr>
                          <td>description</td>
                          <td>String</td>
                          <td>description from curse</td>
                          <td>Thaumaturgy is the capability of a magician to work miracles.....</td>
                        </tr>
                        <tr>
                          <td>author</td>
                          <td>String</td>
                          <td>Author of the mod</td>
                          <td>azanor</td>
                        </tr>
                        <tr>
                          <td>downloadCount</td>
                          <td>Number</td>
                          <td>Download count from curse</td>
                          <td>1052980</td>
                        </tr>
                        <tr>
                          <td>tags</td>
                          <td>Array of String</td>
                          <td>Tags applied to this mod. String are actually links to the tag</td>
                          <td>["mc-mods/magic","mc-mods/adventure-rpg","mc-mods/armor-weapons-tools","mc-mods/cosmetic","mc-mods/library-api"]</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </details>

              </paper-material>

              <paper-material>

                <header>
                  <paper-button raised noink class="get-button">GET</paper-button>
                  /api/v1/mc-mods/tags
                </header>

                <summary>
                  <p>Get tags from curseforge</p>
                </summary>

                <details>
                  <h3>Result format(JSON)</h3>
                  <div class="table-responsive">
                    <table>
                      <thead>
                        <tr>
                          <th>Key</th>
                          <th>Type</th>
                          <th>Description</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>tags</td>
                          <td>Array of Objects</td>
                          <td>Tags listed in curseforge. While key is human-readable name and value is the link to that tag</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </details>
              </paper-material>
            </div>

            <div data-route="about" content>
              <h2>About this tool</h2>
              <p> Provides an API for curseforge, better searching function. </p>
              <p> Currently, only <a href="http://minecraft.curseforge.com/mc-mods">mc-mods</a> form curse is supported </p>
              <p> All functions are on the right hand side. Feel free to try them ;)</p>
              <p> Also, this project is an open source project. You can grab the source form <a href="https://github.com/holi0317/curse-mc-api"> Github</a></p>
            </div>

            <div data-route="404" content>
              <paper-material>
                <p> Curse has crashed </p>
                <witty-comments></witty-comments>
                <p> Sorry for getting error 404. Hope this does not broke anything important ;) </p>
              </div>
            </paper-material>
          </iron-pages>

        </paper-scroll-header-panel>

      </paper-drawer-panel>

    </template>

  </body>
  </html>
